body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #7581a1;
}

.wrap{
    max-width: 1110px;
    margin: 0 auto;
}

.box-header {
    display: flex;
    justify-content: space-between;
    padding-top: 54px;
    margin-bottom: 305px;
}

.logo {
    display: block;
    background-image: url(/img/logo2.png);
    width: 181px;
    height: 49px;
}

a{
    text-decoration: none;
    letter-spacing: 2px;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -2.5px;
    color: #192b59;
    max-width: 540px;
    margin-bottom: 65px;
}

.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    max-width: 500px;
    margin: 0 auto;
}

.title-h2-2{
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
    text-align: center;
    margin-bottom: 70px;
    letter-spacing: -1px;
}

.title-h2-2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

header {
    position: relative;
    background-image: url(/img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 340px;
}

.page-softwere {
    background: url(img/software-bg.png) no-repeat ;
    background-size: cover;
    padding: 109px 0 156px 0;
}

.page-softwere .wrap {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.page-softwere-background {
    display: block;
    position: absolute;
    background-image: url(img/software-screen.png);
    background-repeat: no-repeat;
    z-index: 1;
    width: 931px;
    height: 860px;
}

.page-softwere .wrap div{
    flex-basis: 55%;
}

.set-icon {
    display: block;
    background-image: url(img/new-icon.svg) ;
    background-repeat: no-repeat;
    z-index: 5;
    background-position: -28px 0;
    width: 117px;
    height: 101px;
}

.page-softwere .title {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    max-width: 545px;
    letter-spacing: -1.9px;
    margin: 12px 0 26px 0;
}

.page-softwere p {
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    margin-bottom: 31px;
}

.page-softwere-list {
    height: 320px;
    overflow: hidden;
    overflow-y: scroll;
}

.page-softwere-list::-webkit-scrollbar { width: 5px; height: 4px;}
.page-softwere-list::-webkit-scrollbar-button {  background-color: #ffffff; }
.page-softwere-list::-webkit-scrollbar-track-piece { background-color: #f3f6ff;}
.page-softwere-list::-webkit-scrollbar-thumb { height: 50px; background-color: #1085e4; border-radius: 10px;}
.page-softwere-list dt {
    font-weight: 700;
    color: #5a6789;
    margin-bottom: 10px;
}

.page-softwere-list dd {
    font-size: 14px;
    line-height: 1.8;
    margin-left: 0;
    margin-bottom: 50px;
}

.page-start  {
    text-align: center;
    background-color: #edf6ff;
    padding: 114px 0 115px 0;
}

.page-screen {
    padding: 100px 0 115px 0;
    background-color: #edf6ff;   
    text-align: center;
}

.page-screen img{
    max-width: 1110px;
}

nav ul{
    display: flex;
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    padding: 19px 11px 0px 29px;
}

.btn-group a{
    margin-left: 15px;
}

.btn-primary{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #fff;
    text-transform: uppercase;
    background-color: #1085e4;
    padding: 20px 41px;
    border-radius: 30px;
    border: 1px solid #1085e4;
    transition: 0.3s;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: transparent;
}

.btn-secondary{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #7e8bae;
    border: 1px solid #cbdbe8;
    text-transform: uppercase;
    background-color: #cbdbe8;
    padding: 21px 42px;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: white;
    border: 1px solid #cbdbe8;
}

.screen-img{
    position: absolute;
    right: 0;
    top:190px;
    display: block;
    background-image: url(img/header-screen.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
}

.page-company {
    background-image: url(/img/sponsors-bg.png);
    /* height: 274px; */
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 107px;
    padding-bottom: 96px;
}

.list-company{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-company li:first-child {
    background-image: url(/img/sponsors-logo-token.png);
    width: 198px;
    height: 58px;
}

.list-company li:nth-child(2) {
    background-image: url(/img/sponsors-logo-magneto.png);
    width: 200px;
    height: 69px;
}

.list-company li:nth-child(3) {
    background-image: url(/img/sponsors-logo-booho.png);
    width: 201px;
    height: 47px;
}

.list-company li:last-child {
    background-image: url(/img/sponsors-logo-fractal.png);
    width: 200px;
    height: 69px;
}

.btn-free{
    font-weight: 400;
    letter-spacing: 2.0px;
    color: #fff;
    padding: 21px 51px;
}

.btn-info{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #8085b1;
    text-transform: uppercase;
    background-color: transparent;
    padding: 20px 60px;
    border-radius: 30px;
    border: 2px solid #dce1e5;
}

.grid {
    display: grid;
    max-width: 1110px;
    margin: 0 auto;
    grid-template-areas:
        "a b c"
        "d b c"
        "d f g"
        "e f g"
        "e h h";
    grid-gap: 33px;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-title span {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.grid-title {
    grid-area: a;
}

.grid-item-1 {
    grid-area: b;
}

.grid-item-2 {
    grid-area: c;
}

.grid-item-3 {
    grid-area: d;
}

.grid-item-4 {
    grid-area: f;
}

.grid-item-5 {
    grid-area: g;
}

.grid-item-6 {
    grid-area: e;
}

.grid-text {
    grid-area: h;
}

.grid-text p:first-child{
    margin: 0;
    letter-spacing: 0.45px;
    line-height: 26px;
}

.grid-text p:last-child{
    padding-left: 2px;
    letter-spacing: -0.50px;
    color:#1a88e1; 
}

.grid-text p:last-child span{
    font-weight: 700;
    letter-spacing: 0.65px;
    color: black;
}

.box-prise-item:nth-of-type(2) .btn-info{
    color: #fff;
    background-color: #1a88e1;
    border: 2px solid #1a88e1;
}

.page-grid {
    padding: 120px 0 115px 0;
}

.page-grid .grid-item div {
    display: block;
    background-repeat: no-repeat;
    margin: 0 auto 28px;
    background-position: center ;
}

.page-grid .grid-item:nth-child(2) div{
    background: url(/img/features-img-file.png);
    width: 73px;
    height: 79px;
}

.page-grid .grid-item:nth-child(3) div {
    background: url(/img/features-img-screwdriver.png);
    width: 89px;
    height: 85px;
}

.page-grid .grid-item:nth-child(4) div {
    background: url(/img/features-img-hand.png);
    width: 79px;
    height: 82px;
}

.page-grid .grid-item:nth-child(5) div {
    background: url(/img/features-img-screen.png);
    width: 85px;
    height: 90px;
}

.page-grid .grid-item:nth-child(6) div {
    background: url(/img/features-img-ear.png);
    width: 100px;
    height: 87px;
}

.page-grid .grid-item:nth-child(7) div {
    background: url(/img/features-img-set.png);
    width: 103px;
    height: 92px;
}

.grid h2{
    font-size: 40px;
    color: #192b59;
    letter-spacing: -1.3px;
    padding: 0;
    margin: 0 0 47px 0;
}

.grid h2 span{
    font-size: 14px;
    color: #1085e4;
    display: block;
    margin-bottom: 17px;
}

.grid-item {
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    color: #192b59;
    box-shadow: 4px 3px 6px 0px #f4f4f4, -4px 3px 6px 0px #f4f4f4;
    text-align: center;
    padding: 50px 0;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -1px;
    margin-top: 0px;
    margin-bottom: 23px;
}

.grid-item p {
    font-size: 16px;
    font-weight: 500;
    color: #192b59;
    line-height: 25px;
    padding: 0 26px;
    margin-top: 0px;
    margin-bottom: 18px;
}

.grid a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4; 
}

.page-start ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.page-start li {
    margin-top: 56px;
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}

.page-start li span {
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 7px;
    letter-spacing: 0;
}
/* page plan*/

.page-plan {
    padding-bottom: 120px;
}

.page-plan h2{
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
    text-align: center;
    margin-bottom: 80px;
    letter-spacing: -1px;
}

.page-plan h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.box-prise {
    display: flex;
    justify-content: space-between;
}

.box-prise-item {
    text-align: center;
    background-color: #f5faff;
    flex-basis: 32%;
    padding-bottom: 85px;
    padding-top: 62px;
}

/* .box-prise-item:first-child::after,
.box-prise-item:last-child::after {
    content: "";
    z-index: 111;
    width: 58px;
    height: 100%;
    background-image: url(/img/features-img-set.png);
} */

.box-prise-item h3{
    font-size: 70px;
    font-weight: 700;
    color: #000958;
    margin: 0;
    margin-bottom: 16px;
}

.box-prise-item span{
    font-size: 19px;
    font-weight: 700;
    letter-spacing: -1px;
}

.box-prise-item span:last-child{
    color: #9ca8c7;
}

.box-prise-item strong{
    display: block;
    text-transform: uppercase;
    color: #1085e4;
    margin-bottom: 48px;
    letter-spacing: 2px;
}

.box-prise-item ul {
    padding: 0;
    margin-bottom: 36px;
}

.box-prise-item li {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
    color: #bec3db;
    list-style-type: none;
}

.box-prise-item li:last-child {
    padding-bottom: 35px;
}

.box-prise-item:nth-last-of-type(2){
    background-color: #192b59;
}

.box-prise-item:nth-last-of-type(2) h3,
.box-prise-item:nth-last-of-type(2) strong,
.box-prise-item:nth-last-of-type(2) li{
    color:#fff;
}

.box-prise-item .footer-div {
    padding-top: 17px;
}

.page-subscribe {
    background: linear-gradient(135deg, #0a2090 0%,#2377cd 100%);
    padding: 33px 0 70px 0;
}

.page-subscribe .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-subscribe .flex div {
    flex-basis: 48.4%;
}

.page-subscribe div h2{
    font-size: 50px;
    font-weight: 600;
    color:#fff;
    letter-spacing: -2px;
    margin-bottom: 28px;
}

.page-subscribe div h2 span {
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: #00bffe;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.page-subscribe p {
    font-size: 18px;
    font-weight: 400;
    color: white;
    max-width: 407px;
    width: 100%;
    line-height: 28px;
    margin-bottom: 39px;
}

.box-sibscribe-user {
    position: relative;
}

.page-subscribe input {
    display: block;
    width: 100%;
    border: 2px solid #4672c1;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    box-sizing: border-box;
    font-size: 14px;
    padding: 25px 217px 25px 39px;
}

.page-subscribe input:focus,
.box-sibscribe-user .btn-primary:focus {
    outline: none;
}

.page-subscribe placeholder {
    color: white;
}

.box-sibscribe-user button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.box-sibscribe-user .btn-primary {
    font-size: 14px;
    padding: 15px 45px;
}    

::-webkit-input-placeholder {color:white;}
::-moz-placeholder          {color:white;}
:-moz-placeholder           {color:white;}
:-ms-input-placeholder      {color:white;}

.content-app {
    width: 55%;
}

.page-app {
    padding: 72px 0 79px 0;
}

.page-app .wrap {
    position: relative;
}

.page-app h2 {
    font-size: 50px;
    font-weight: 600;
    color: #000958;
    letter-spacing: -2px;
    margin-bottom: 36px;
}

.page-app .page-app-text-big {
    line-height: 26px;
    letter-spacing: 0.50px;
}

.page-app .page-app-text {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color:#c4d2dd;
    letter-spacing: 3.3px;
    margin-top: 31px;
    margin-bottom: 20px;
}

.page-app .page-app-list {
    list-style-type: none;
    margin: 0;  
    margin-left: -14px;
    padding: 0;
}

.page-app .page-app-list li{
    display: inline-block;
}

.page-app .page-app-list a {
    background: url(/img/page-app-img.png) no-repeat;
    display: block;
    width: 185px;
    height: 78px;
}

.page-app .page-app-list .page-app-android {
    background-position: 0 0;
}

.page-app .page-app-list .page-app-ios {
    background-position: -190px 0;
}

.video {
    position: absolute;
    top:-61px;
    right: -167px;
}

.page-analytics {
    background: url(img/page-analytics-bg.png) no-repeat;
    /* background-size: cover; */
    padding: 117px 0 137px 0;
}

.page-analytics .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-analytics .wrap div {
    flex-basis: 53%;
}

.page-analytics h2{
    font-size: 50px;
    font-weight: 600;
    max-width: 560px;
    color: #000958;
    letter-spacing: -2px;
    margin-top: 12px;
    margin-bottom: 28px;
}

.page-analytics-text {
    line-height: 26px;
    letter-spacing: 0.1px;
    margin-bottom: 54px;
}

.page-analytics-two {
    background: url(img/page-analytics-two-bg.png) no-repeat 100% 14%;
    padding: 117px 0 137px 0;
}

.page-analytics-two .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-analytics .wrap div {
    flex-basis: 53%;
}

.page-analytics-two h2{
    font-size: 50px;
    font-weight: 600;
    max-width: 417px;
    color: #000958;
    letter-spacing: -2px;
    margin-top: 12px;
    margin-bottom: 28px;
}

.page-analytics-two .page-analytics-text {
    max-width: 577px;
}

.page-analytics-two  .btn-primary{
    padding: 20px 58px
}

.page-clients {
    position: relative;
    margin-top: 120px;
    padding: 43px 0 79px 0;
}

.page-clients::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    background: url(img/page-clients-bg.svg) no-repeat;
}

.box-clients {
    display: flex;
    justify-content: space-between;
    margin-top: 68px;
}

.page-clients h2 {
    font-size: 40px;
    font-weight: 600;
    max-width: 560px;
    color: #fff;
    letter-spacing: -1.5px;
    margin-top: 12px;
    margin-bottom: 28px;
}

.page-clients h2 span {
    display: block;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #85c8ff;
    letter-spacing: 4.3px;
    margin-top: 31px;
    margin-bottom: 20px;
}

.box-clients-items {
    background-color:#fff;
    border-radius: 10px;
    flex-basis: 31.5%;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: 0 6px 20px #8085b1;
    padding: 21px 42px 40px 42px;
}

.box-clients-items p{
    margin-bottom: 4px;
}

.box-clients-items .box-clients-text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 4px;
}

.box-info {
    display: flex;
    align-items: center;
}

.box-clients-items img {
    margin-top: 20px;
}

.box-info div{
    padding-left: 17px;
}

.box-clients-items .name{
    font-size: 22px;
    font-weight: 600;
    color: #000958;
    letter-spacing: -0.6px;
    line-height: 1.1;
    margin-bottom: 5px;
}

.box-clients-items .pasition{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #1085e4;
    margin-top: 0;
}

.page-team {
    text-align: center;
    background: url(img/page-team.png) no-repeat top center;
    padding: 86px 0 120px 0;
}

.page-team h2 {
    font-size: 40px;
    font-weight: 600;
    max-width: 560px;
    color: #fff;
    letter-spacing: -1.5px;
    margin-top: 12px;
    margin-bottom: 140px;
}

.page-team h2 span {
    display: block;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #85c8ff;
    letter-spacing: 4.3px;
    margin-top: 31px;
    margin-bottom: 20px;
}

.box-team {
    display: flex;
    justify-content: space-between;
}

.box-team-item {
    position: relative;
    background-color:#ffffff;
    flex-basis: 31.5%;
    box-shadow: 0 2px 10px #8085b1;
    box-sizing: border-box;
    padding: 197px 0 40px 0;
}

.box-team-item img {
    position: absolute;
    top: -85px;
    right: 0;
    left: 0;
    margin:0 auto;
}

.box-team-item .position {
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #1a88e1;
    font-weight: 900;
    margin-bottom: 11px;
}

.box-team-item .name {
    font-size: 26px;
    color: #192b59;
    letter-spacing: -0.5px;
    font-weight: 600;
    margin-top: 0px;
}

.box-team-item .btn-more {
    /* display: block; */
    /* background: url(img/plus.png) no-repeat; */
    border-radius:50%;
    background-color:#fafafa ;
    width: 50px;
    height: 50px;
    border:none;
    transition: 0.4s;
    margin: 0 auto;
} 

.box-team-item .btn-more span{
    text-align: center;
    font-size: 31px;
    font-weight: 700;
    color: #a1aecf;
    transition: 0.2s;
} 

.box-team-item .btn-more:focus {
    outline: none;
}

.box-team-item .btn-more:hover {
    background-color: #1a88e1;
}

.box-team-item .btn-more span:hover {
    color: white;
}

.sotial-team {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0 50px;
    margin: 0;
}

.sotial-team li {
    border-radius:50%;
    background-color:#fafafa ;
    width: 50px;
    height: 50px;
    border:none;
    transition: 0.4s;
    /* background: url(img/.box-team-item-fb.png);
    width: 8px;
    height: 15px; */
    margin: 0 auto;
}

.sotial-team li:hover{ 
    background-color: #1a88e1;
}

.sotial-team li .btn-fb{
    display: block;
    background: url(img/box-team-item-fb.png) no-repeat;
    width: 8px;
    height: 15px; 
    margin: 17.5px auto;
    transition: 0.2s;
}

.sotial-team li .btn-fb:hover{
    background: url(img/box-team-item-fb-w.png) no-repeat;
}

.sotial-team li .btn-tw{
    display: block;
    background: url(img/box-team-item-tweet.png) no-repeat;
    width: 15px;
    height: 12px; 
    margin: 19px auto;
    transition: 0.2s;
}

.sotial-team li .btn-tw:hover{
    background: url(img/box-team-item-tweet-w.png) no-repeat;
}

.sotial-team li .btn-bh{
    display: block;
    background: url(img/box-team-item-behance.png) no-repeat;
    width: 17px;
    height: 11px; 
    margin: 18.5px auto;
    transition: 0.2s;
}

.sotial-team li .btn-bh:hover{
    background: url(img/box-team-item-behance-w.png) no-repeat;
}

.sotial-team li .btn-cr{
    display: block;
    background: url(img/box-team-item-chrome.png) no-repeat;
    width: 15px;
    height: 14px; 
    margin: 18px auto;
    transition: 0.2s;
}

.sotial-team li .btn-cr:hover{
    background: url(img/box-team-item-chrome-w.png) no-repeat;
}

