body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 26px;
    color: #7581a1;
}

.wrap{
    max-width: 1110px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -2.5px;
    color: #192b59;
    max-width: 540px;
    margin-bottom: 65px;
}

.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    max-width: 500px;
    margin: 0 auto;
}

.title-h2-2{
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
    text-align: center;
    margin-bottom: 70px;
    letter-spacing: -1px;
}

.title-h2-2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.page-start  {
    text-align: center;
    background-color: #edf6ff;
    padding: 114px 0 115px 0;
}

.page-screen {
    padding: 100px 0 115px 0;
    background-color: #edf6ff;   
    text-align: center;
}

.page-screen img{
    max-width: 1110px;
}

nav ul{
    display: flex;
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    padding: 0 15px;
}

.btn-group a{
    margin-left: 15px;
}

.btn-primary{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #fff;
    text-transform: uppercase;
    background-color: #1085e4;
    padding: 20px 41px;
    border-radius: 30px;
    border: 1px solid #1085e4;
}

.btn-secondary{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #7e8bae;
    text-transform: uppercase;
    background-color: #cbdbe8;
    padding: 21px 42px;
    border-radius: 30px;
}

.btn-free{
    font-weight: 400;
    letter-spacing: 2.0px;
    color: #fff;
    padding: 21px 51px;
}

.btn-info{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #8085b1;
    text-transform: uppercase;
    background-color: transparent;
    padding: 20px 60px;
    border-radius: 30px;
    border: 2px solid #dce1e5;
}

.box-prise-item:nth-of-type(2) .btn-info{
    color: #fff;
    background-color: #1a88e1;
    border: 2px solid #1a88e1;
}

.grid h2{
    font-size: 40px;
    color: #192b59;
}

.grid h2 span{
    font-size: 14px;
    color: #1085e4;
    display: block;
}

.grid-item {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4; 
}

.page-start ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.page-start li {
    margin-top: 56px;
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}

.page-start li span {
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 7px;
    letter-spacing: 0;
}
/* page plan*/

.page-plan h2{
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
    text-align: center;
    margin-bottom: 70px;
    letter-spacing: -1px;
}

.page-plan h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.box-prise {
    display: flex;
    justify-content: space-between;
}

.box-prise-item {
    text-align: center;
    background-color: #f5faff;
    flex-basis: 32%;
    padding-bottom: 85px;
}

/* .box-prise-item:first-child::after,
.box-prise-item:last-child::after {
    content: "";
    z-index: 111;
    width: 58px;
    height: 100%;
    background-image: url(/img/features-img-set.png);
} */

.box-prise-item h3{
    font-size: 70px;
    font-weight: 700;
    color: #000958;
    margin-block-end: 0;
    margin-bottom: 16px;
}

.box-prise-item span{
    font-size: 19px;
    font-weight: 700;
    letter-spacing: -1px;
}

.box-prise-item span:last-child{
    color: #9ca8c7;
}

.box-prise-item strong{
    display: block;
    text-transform: uppercase;
    color: #1085e4;
    margin-bottom: 33px;
    letter-spacing: 2px;
}

.box-prise-item ul {
    padding-inline-start: 0;
}

.box-prise-item li {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 22px;
    color: #bec3db;
    list-style-type: none;
}

.box-prise-item li:last-child {
    padding-bottom: 35px;
}

.box-prise-item:nth-last-of-type(2){
    background-color: #192b59;
}

.box-prise-item:nth-last-of-type(2) h3,
.box-prise-item:nth-last-of-type(2) strong,
.box-prise-item:nth-last-of-type(2) li{
    color:#fff;
}

